.vscode/*
*.dSYM/*
*results/*

py/.ipynb_checkpoints/*
py/__pycache__/*
py/plots/*
py/pickles/*

*.code-workspace
*.swp
*.so
*.out
*.pickle
*.ipynb

todo.md
komp
ref*

c90/*.o
c90/*.gch
c90/test

coefficients-check.jl
py/long_runs.sh
py/old_run.py
py/plot.py
py/thomp_compare_1.py
py/timing.py
